.gradle/
.idea/
**/build/
local.properties
keystore.properties
*.jks
*.keystore
server/.env
server/node_modules/
server/.vercel/
firebase-debug.log
.DS_Store
HLS_Sticky_Collector_Vercel_Mongo_v3.4.1.user.js
desktop.ini
any-movie-server/*
any-movie-web/*
developer-files&notes
hls-vercel-mongo-backend/*
notes.md
.vscode/*